<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	<http auto-config="true">
		<intercept-url pattern="/admin/**" access="ROLE_USER" />
		<intercept-url pattern="/admin.oly" access="ROLE_USER" />
		<form-login login-page="/login.jsp" default-target-url="/admin.oly"
			authentication-failure-url="/loginError.jsp" />
		<logout logout-success-url="/logout.jsp" />
	</http>
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="weblogic" password="weblogic1" authorities="ROLE_USER" />
				<user name="orders" password="orderspw" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>