<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Error')"/>
<body>
<section class="section">
	<div th:replace="fragments/navbar :: navbar()"/>
	<div id="content-container">
		<div id="content-container2">
			<div id="content-container3">
				<div id="content">
					<h2>Internal Server Error</h2>
					<p>We've encountered a problem on our side.
						Don't worry, no information was lost (or given to scary pirate hackers with flamethrowers for hands).
						Please go to the <a th:href="@{/}">main page</a> and try again.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<footer th:replace="fragments/footer :: footer"/>
</body>
</html>